{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/appteste.css' %}">
    </head>
    <body>
        <div id="header">
            <h1>To-do List</h1>
        </div>
        <div id="submit">
            <input type="text">
            <input type="submit">
        </div>
        {% for post in posts %}
            <div class="todo">
                <input type="checkbox">
                <p>{{ post.title}}</p>
                <button>Deletar</button>
                <button>Editar</button>
            </div>
        {% end for %}
    </body>
</html>