{% extends 'appteste/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="todo">
            <input type="checkbox">
            <p>{{ post.title }}</p>
            <button>Deletar</button>
            <button>Editar</button>
        </div>
    {% endfor %}
{% endblock %}

{% block content2 %}
    <form action="/tarefa/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="text">
        <input type="submit" value="Submit">
    </form>
{% endblock %}